:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --link-color: #212121;
  --title-color: #212121;
  --button-wh-color: #ffffff;
  --button-push-color: #188CE8;
  --title-hero-color: #ffffff;
  --hero-footer-color: #2f303a;
  --light-bgc:#ffffff;  /*цвет светлой секции*/
  --dark-bgc:#F5F4FA;   /*цвет темной секции*/
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* скрытие названия заголовка. заголовок только для семантики */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);

  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  
}

/* заголовки rgba(33, 33, 33, 1)
акцент синий #2196F3;
описание  #757575
цвет фона #E5E5E5;
вторичный цвет фона #F5F4FA;
*/

/* ---------------Common----------------- */

.accent-color {
  color: var(--accent-color);
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* ---------------Header----------------- */

.header {
    
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.site-nav-link {
  color: var(--link-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  line-height: calc(16 / 14);
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

/* ---------------Hero----------------- */

.hero {
  background-color: var(--hero-footer-color);
  
  height: 600px;
  
  padding-top: 200px;
  padding-bottom: 200px;

 
}

.hero-title {
    
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  margin: 0 auto;
  text-align: center;  
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-hero-color);
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
}

/* ---------------Hero Button----------------- */

.main-button {
  
  display:block;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-wh-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  width: 216px;
  margin-left: auto;
  margin-right: auto;
}

.main-button:hover,
.main-button:focus {
  color: var(--button-wh-color);
  background-color: var(--button-push-color);

}

/* ---------------Other Buttons (portpholio)----------------- */

.buttons {
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.buttons:hover,
.buttons:focus {
  color: var(--button-wh-color);
  background-color: var(--accent-color);
}

.buttons.active {
  color: var(--button-wh-color);
  background-color: var(--accent-color);
}

/* --------------Features преимущества------------------ */


.features {
    
    height: 600px;

    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--light-bgc);
}



.features-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 10px;
  /*outline: 1px solid red;*/      /*-------DelME-----------*/
}

.features-list {
  outline: 1px solid green;      /*-------DelME-----------*/
}

.features-description {
  line-height: calc(24 / 14);
  margin-bottom: 0px;
}


/* --------------Work--чем мы занимаемся------------------ */

.work {

padding-bottom: 94px; 

margin-bottom: 0px;

background-color: var(--light-bgc);

   
}

.work-title,
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-color);

  margin-bottom: 50px;
}

.team {
  
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--dark-bgc);
}


.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);

  margin-bottom: 10px;
}

.team-list {
  outline: 1px solid red;
  width: 270px;
  
  
}

.team-description {        /*-----------блок заголовка и параграфа--------------*/
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  
}

.team-name-description {
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 0px;
}

.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

/* --------------Footer------------------ */

.footer {
  background-color: var(--hero-footer-color);

  height: 252px;

  padding-top: 60px;
  padding-bottom: 60px;
}


.logo.footer {
  color: #fff;
  
}


.foot-adress {
  line-height: calc(24 / 14);
  color: #fff;
}
